|
<span class="topBarElem">!Hola, {{ app.user }}</span> |<span> Tipo Usuario: {{ app.user.typeUser }}</span> |<span> Organización:  Tipddy</span>
<span class="topBarElem">
 | <a href="{{ path('login_logout') }}">Desconectar</a>
</span>