security:
    firewalls:
        admin:
            pattern: ^/
            anonymous: ~
            form_login:
                login_path: login
                check_path: login_check
                always_use_default_target_path: true
                default_target_path: /dashboard
            logout:
                path: login_logout
                target: login
                invalidate_session: false
    access_control:
         - { path: ^/survey, roles: [ROLE_TIPDDY]}
    providers:
         chain_provider:
             chain:
                 providers: [in_memory, user_db]
    
         in_memory:
             memory:
                 users:
                     - { name: ryan, password: ryanpass, roles: 'ROLE_USER'}
                     - { name: admin, password: kitten, roles: 'ROLE_TIPDDY'}
         user_db:
             entity: { class: Tipddy\SecurityBundle\Entity\User, property: email }
                     
    encoders:
         Tipddy\SecurityBundle\Entity\User: { algorithm: sha512, iterations: 10}
         Symfony\Component\Security\Core\User\User: plaintext    